* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-div {
  background-color: #e07c24;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.inner-div {
  width: 40vw;
  background-color: #5da3fa;
  padding: 4rem 8rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.4);
}

.question {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 1.5rem 0 4rem 0;
}

.inner-div li {
  font-size: 2rem;
  margin-top: 1.5rem;
  list-style: none;
}

input {
  cursor: pointer;
}

#submit,
.btn {
  padding: 1rem 3rem;
  outline: none;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 1rem;
  border: none;
  display: block;
  margin: auto;
  text-transform: uppercase;
  background-color: #da4343;
  color: #fff;
  margin-top: 4rem;
  cursor: pointer;
}

#submit:hover {
  background-color: #d61e1e;
}

#showScore {
  background-color: #dfe6e9;
  margin-top: 3rem;
  padding: 3rem 4rem;
  box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.4);
}

#showScore h3 {
  font-size: 3rem;
  text-align: center;
}

#showScore .btn {
  margin-top: 2rem;
  background-color: #55efc4;
  color: #2d3436;
}
#showScore .btn:hover {
  background-color: #00b894;
  color: #fff;
}

.scoreArea {
  display: none;
}
